body{
    width: 100%;
    overflow-x: hidden;
}
.headerleft{
    justify-content: start;
    display: flex;
    width: 75%;
    padding: 10px;    
}
.headerleft input{
    margin-left: 10px;
    margin-top: 15px;
     width: 50%;
    height: 25px;
    justify-items: center;
} 
.headerright{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
    margin-right: 0px;
    align-items: center;
}
#navbar{
    width: 100%;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 95%;
    background: rgb(245, 245, 245);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
#navbar a{
    text-decoration: none;
    color: black;    
    padding: 5px;
}
.cards , .row .card , .banner {
    border: none;
    background-color: rgb(245, 245, 245);
}
.cards :hover
{
   box-shadow: 0 4px 8px;
}
.cards img
{
    width: 110%;
}
.liveevents {
     display: flexbox; 
     padding: 10px;
     margin-left: -15px;
}
.liveevents img{
    width: 250px;
    padding: 10px;
    border-radius: 20px;
    margin-top: -10px;
}
.carousel-inner img{
    width: 70%;
    border-radius: 20px;
    margin-left: 10px;
    margin-right: 20px;
}
.contacttoday{
    height: 100px;
    display: flex;
    background-color: rgb(49, 48, 53);
    color: rgb(255, 255, 255);
    font-size: 16px;
    text-align: center;
    padding: 15px;
}
.contacttoday p{
   
    margin-top: auto;
    
}
.contacttoday button{
    background-color: rgb(236, 94, 113);
    border-radius: 7px;
    text-decoration: none;
    height: 40px;
    width: 150px;
    margin-top: 25px;
    margin-left: 20%;
    font-size: 18px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    
}
.containertech{
    background-color: rgb(64, 64, 67);
}
.containertech .col-4{
    display: flex;
    justify-content: center;
}
.foottext{
    width: 100%;
     height: 200px;
      background-color: rgb(49, 48, 53);
}
.foottext p{
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-size: larger;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.contact{
    background-color: rgb(49, 48, 53);
 }
 .class_icon{
    display: flex;
    align-items: center;
    justify-content: center;

 }
 .icon{
    margin-top: 100px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: grey;
    display: flex;
     justify-content: center;
     align-items: center;
     margin: 140px 15px;
 }
 .icon i{
    font-size: 2rem;
    color: rgb(49, 48, 53);
 }